<div class="col head">

<div class="row">

  <div class="col-md-2 cont">

        <a  href="/"><img  src="assets/icon.svg"  width="200" height="200" alt="Responsive image" align="center" style="margin-bottom: 0px;" ></a>
  </div>

  <div class="col-md-10">

      <div class="row">

        <div class="col-8 ondas">




        </div>

          <div class="col-4 dark">


            <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#sesion1">Login</button>
              <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#sesion2">Registro</button>

          </div>


      </div>


    <div class="col row">



    <div class="col-md">

      <div class="">

            <div class="row cont-bton"  >





          <a href="/mexico-ora" class="botn col-sm btn btn-info btn-lg button button4" role="button" aria-pressed="true">México Ora</a>

          <a href="/noticias" class="botn col-sm btn btn-info btn-lg button button4" role="button" aria-pressed="true">Noticias</a>

          <a href="/eventos" class="botn col-sm btn btn-info btn-lg button button4" role="button" aria-pressed="true">Eventos</a>

          <a href="/nosotros" class=" botn col-sm btn btn-info btn-lg button button4" role="button" aria-pressed="true">Nosotros</a>






              </div>
      </div>

    </div>
  </div>

  </div>


</div>




</div>

<!--modal 1 inicio-->
<div class="modal fade" id="sesion1" tabindex="-1" role="dialog" aria-labelledby="sesion1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sesion1">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
              <div class="row">

                    <div class="col">

                        <div class="col">
                          <div class="wrapper fadeInDown">
                            <div id="formContent">
                        <!-- Tabs Titles -->
                                <form>
                                  <input type="text" id="login" class="login col-md-12 form-control" name="login" placeholder="Usuario">
                                  <input type="text" id="password" class="login col-md-12 form-control" name="login" placeholder="Contraseña">

                                  <a href="/" class=" col-md-12 btn btn-primary  active" role="button" aria-pressed="true" style="padding:auto;">Inicio de Sesion</a>
                                      </form>
                        <!-- Remind Passowrd -->
                                  </div>

                            </div>

                      </div>


              </div>

        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!--modal 2 inicio-->


<div class="modal fade" id="sesion2" tabindex="-1" role="dialog" aria-labelledby="sesion2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sesion2">Registro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
              <div class="row">

                    <div class="col">

                        <div class="col">
                          <div class="wrapper fadeInDown">
                            <div id="formContent">
                        <!-- Tabs Titles -->
                                <form>
                                  <input type="text" id="login" class="login col-md-12 form-control" name="login" placeholder="Nombre*">
                                  <input type="text" id="login" class="login col-md-12 form-control" name="login" placeholder="Usuario*">
                                  <input type="text" id="login" class="login col-md-12 form-control" name="login" placeholder="Dirección de correo electrónico*">
                                  <input type="text" id="login" class="login col-md-12 form-control" name="login" placeholder="Confirme su Dirección de correo electrónico*">
                                  <input type="text" id="password" class="login col-md-12 form-control" name="login" placeholder="Contraseña*">
                                  <input type="text" id="password" class="login col-md-12 form-control" name="login" placeholder="Confirme su Constraseña*">
                                  <label class="radio-inline"><input type="radio" name="optradio" checked>Masculino</label>
                                  <label class="radio-inline"><input type="radio" name="optradio">Femenino</label>
                                    <hr>
                                     <a href="/aviso-de-privacidad" style="text-align:right;"> Ve nuestro aviso de privacidad</a>
                                     <br>
                                     <br>
                                  <a href="/" class=" col-md-12 btn btn-primary  active" role="button" aria-pressed="true" style="padding:auto;">Registrate</a>
                                      </form>
                        <!-- Remind Passowrd -->
                                  </div>

                            </div>

                      </div>


              </div>

        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
