




.titulo1{

  margin-bottom: 8%;
  text-align: center;

}






.colum{

  width: auto;
  margin: auto auto;
  padding: 2%;

}




h5{

text-align: center;

}

h3 {

text-align: left;

}

p{

text-align: justify;

}

.imagen{

padding-top:10%;



}

.cabecera{

text-align: center !important;

}


.val{

text-align: center !important;

}

h3{

text-align: center;
margin: 3%;
}


h2{

padding-top: 10%;

}
