<app-header></app-header>




<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/assets/1.jpg" width="auto" height="auto" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">El HIMNO NACIONAL DE ISRAEL RESUENA EN EL ZOCALO DE LA CDMX, ANTE 15,000 PARTICIPANTES DE LA MARCHA DE GLORIA</h5>
      <p class="card-text">Enlace Judío México- El himno nacional de Israel sonó fuerte en el Zócalo de la CDMX, ante 15,000 amigos de Israel pertenecientes a …</p>

    </div>
    <div class="card-footer text-muted">
    <a class="btn btn-outline-info" href="https://www.enlacejudio.com/2018/04/02/marcha-de-la-gloria-en-el-zocalo-de-la-cdmx/"  target=”_blank” role="button">LEER MÁS</a>
  </div>
  </div>


  <div class="card">
    <img class="card-img-top" src="/assets/2.jpg" width="auto" height="auto" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">DECENAS DE ILES DE MEXICANOS BENDICEN A ISRAEL EN MARCHA DE GLORIA</h5>
      <p class="card-text">“No queremos muros, ni en Israel ni en México, ni en Estados unidos, queremos la paz y la fraternidad entre todos los hermanos …</p>

    </div>
    <div class="card-footer text-muted">
    <a class="btn btn-outline-info" href="https://www.enlacejudio.com/2017/04/17/decenas-de-miles-de-mexicanos-bendicen-a-israel-en-marcha-de-gloria/"   target=”_blank” role="button">LEER MÁS</a>
  </div>
  </div>


  <div class="card">
    <img class="card-img-top" src="/assets/3.jpg" width="auto" height="auto" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">MÉXICO. EN LA MARCHA DE GLORIA, ONDEAN BANDERAS DE ISRAEL SOBRE LA AVENIDA REFORMA</h5>
      <p class="card-text">AGENCIA DE NOTICIAS ENLACE JUDÍO MÉXICO Un grupo de cristianos evangélicos de varias iglesias del Distrito Federal y el Estado de …</p>

    </div>
    <div class="card-footer text-muted">
    <a class="btn btn-outline-info" href="https://www.enlacejudio.com/2015/04/05/mexico-en-la-marcha-de-gloria-ondean-banderas-de-israel-sobre-la-avenida-reforma/"  target=”_blank” role="button">LEER MÁS</a>
  </div>
  </div>


</div>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/assets/4.jpg" width="auto" height="auto" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">CRISTIANOS A FAVOR DE ISRAEL EN LA "MARCHA DE GLORIA"</h5>
      <p class="card-text">Entrevista con el Dr. Jürgen Buheler, Dir. Ej. de la Emb. Cristiana Int. en Jerusalén ELENA BIALOSTOCKY Y ENRIQUE ANAYA PARA …</p>
    </div>
    <div class="card-footer text-muted">
    <a class="btn btn-outline-info" href="https://www.enlacejudio.com/2014/04/23/cristianos-favor-de-israel-en-marcha-de-gloria/"  target=”_blank” role="button">LEER MÁS</a>
  </div>
  </div>


  <div class="card">
    <img class="card-img-top" src="/assets/5.jpg" width="auto" height="auto" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">MIL PASTORES MEXICANOS SE UNIRÁN A LA PRIMERA "MARCHA DE GLORIA EN JERUSALEM"</h5>
      <p class="card-text">ENLACE JUDÍO El presidente de las Marchas de Gloria, Ministerios Buena Tierra, Carlos Quiroa, quien, a la vez es presidente honorario del …</p>
    </div>
    <div class="card-footer text-muted">
    <a class="btn btn-outline-info" href="https://www.enlacejudio.com/2012/02/10/mil-pastores-mexicanos-se-uniran-a-la-primera-marcha-de-gloria-en-jerusalem/"  target=”_blank” role="button">LEER MÁS</a>
  </div>
  </div>


  <div class="card">
    <img class="card-img-top" src="/assets/6.jpg" width="auto" height="auto" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">EVANGÉLICOS ALISTAN LA MAYOR MARCHA PRO-ISRAEL EN MEXICO... Y EL 'VIAJE DE TU VIDA'</h5>
      <p class="card-text">Hace ya 24 años que la Iglesia Cristiana Evangélica celebra su Marcha de Gloria, que reúne a decenas de miles de personas que …</p>
    </div>
    <div class="card-footer text-muted">
    <a class="btn btn-outline-info" href="https://www.enlacejudio.com/2019/03/20/hay-que-bendecir-a-israel-de-todas-las-formas-posibles-pastor-carlos-quiroa/"  target=”_blank” role="button">LEER MÁS</a>
  </div>
  </div>
</div>




<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/assets/7.jpg" width="auto" height="auto" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">LOS 10 PERSONAJES DEL 2018"</h5>
      <p class="card-text">La lista de personajes de Enlace Judío del 2018, que nos muestra a aquellos que dieron este año de su vida, para lograr …</p>
    </div>
    <div class="card-footer text-muted">
    <a class="btn btn-outline-info" href="https://www.enlacejudio.com/2018/12/30/los-10-personajes-del-2018/"  target=”_blank” role="button">LEER MÁS</a>
  </div>
  </div>



  <div class="card">
    <img class="card-img-top" src="/assets/8.jpg" width="auto" height="auto" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">LA SOCIEDAD BÍBLICA DE MÉXICO CONTINÚA SU OBRA DE CONCIENTIZACIÓN PARA QUE LAS IGLESIAS CRISTIANAS SIGAN APOYANDO A ISRAEL</h5>
      <p class="card-text">La SBM realizó la conferencia sobre “El Genocidio Nazi” con el Dr. Romanowski dentro de sus flamantes nuevas instalaciones. …</p>

    </div>
    <div class="card-footer text-muted">
    <a class="btn btn-outline-info" href="https://www.enlacejudio.com/2018/08/29/la-sociedad-biblica-de-mexico-continua-su-obra-de-concientizacion-para-que-las-iglesias-cristianas-sigan-apoyando-a-israel/"  target=”_blank” role="button">LEER MÁS</a>
  </div>

  </div>

  <div class="card">
    <img class="card-img-top" src="/assets/9.jpg" width="auto" height="auto" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">VIDEO / VE A YURI CANTANDO "SHALOM ALEJEM" EN EL ZOCALO CDMX</h5>
      <p class="card-text">Enlace Judío – La popular cantante mexicana Yuri, quien ha declarado públicamente su fe evangélica, cantó ante 15,000 amigos de Israel pertenecientes a …</p>
    </div>
      <div class="card-footer text-muted">
          <a class="btn btn-outline-info" href="https://www.enlacejudio.com/2018/05/03/video-ve-a-yuri-cantando-shalom-alejem-en-el-zocalo-cdmx/"  target=”_blank” role="button">LEER MÁS</a>
          </div>
  </div>
</div>


<div class="barra" style="padding-bottom:6%;"></div>
