.col-md-4{
padding: 2%;
text-align: center;

}

.btn{

padding: 2% !important;

}

p{

color: white;

}


.infobox{
  position: relative;
  width: 500px;
  background-color:#555555;
  padding:50px 50px;
  text-align: center;
  margin:50px auto auto auto;
  border-radius:20px;
  color: #fff;
}


.buttons{
  backgroud-color: #000;
  color: #111111;
}

p{

padding-left: 2px;

}


.fa-facebook{

color: white;

}

.fa-twitter{

color: white;

}
.fa-youtube{

color: white;

}
.fa-instagram{

color: white;

}


.clock {
  font-size: 1em;
}
