

<!--links-->







<nav class="navbar" style="background-color:#4b95a9;">



    <div class="d-flex flex-row order-2 order-lg-3">
        <ul class="navbar-nav flex-row">
            <li class="nav-item"><a class="nav-link px-2" href="https://www.facebook.com/" target=”_blank”><span class="fa fa-facebook"></span></a></li>
            <li class="nav-item"><a class="nav-link px-2" href="https://twitter.com/" target=”_blank”><span class="fa fa-twitter"></span></a></li>
            <li class="nav-item"><a class="nav-link px-2" href="https://www.youtube.com/" target=”_blank”><span class="fa fa-youtube"></span></a></li>
            <li class="nav-item"><a class="nav-link px-2" href="https://www.instagram.com/" target=”_blank”><span class="fa fa-instagram"></span></a></li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

<div class="col">

</div>

<div class="col texto">

<div class="row">


 <p class="clock">cargando...</p>

</div>

</div>



</nav>
