<div class="contenido">


<div class="row">



  <div class="col-md-2 imagen">

    <a href="/"><img src="/assets/icon.svg" style=" margin-left: 67px; width:200px; height:200px" title="White flower" alt="Flower"></a>
  </div>


      <div class="col-md-10">

        <div class="row">

          <div class="col-md-8">
            <div class="wrapper fadeInDown">
              <div id="formContent">
                <!-- Tabs Titles -->

                <!-- Icon -->
                <div class="fadeIn first">
                  <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="Login" />
                </div>

                <!-- Login Form -->
                <form>
                  <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuario">
                  <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña">

                  <a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Inicio de Sesion</a>
                </form>

                <!-- Remind Passowrd -->


              </div>

            </div>

              </div>

              <!--><div class="col-md-4">
                <img  src="/assets/micro.svg"   alt="">
              </div>-->

        </div>





      </div>






</div>

</div>
