<app-header></app-header>

<div class="col mexico">
  <div class="row">

<div class="col-md-8">

<div class="col-md-12">

<img src="assets/mexico.jpg" width="100%" height="100%" alt="">

</div>
<h1>MÉXICO ORA</h1>

</div>

<div class="col-md-4">

<div class="row">
  <div class="col-md-6">
  <img src="assets/ora2.jpg" width="100%" height="100%" alt="">
  </div>

  <div class="col-md-6">
    <p>SEÑOR ORAMOS CONFIANDO EN TI,CONFIANDO QUE MÉXICO ESTÁ EN TUS MANOS NO PONEMOS NUESTRA CONFIANZA EN NOSOTROS SINO SABEMOS QUE EL JUSTO POR SU FE VIVIRÁ. </p>
    <hr>
    <h5>HABACUC 2:4</h5>
  </div>

</div>
<br>
<div class="row">
  <div class="col-md-6">
  <img src="assets/ora1.jpg" width="100%" height="100%" alt="">
  </div>

  <div class="col-md-6">
    <p>SEÑOR JESÚS A TI LEVANTAMOS NUESTRA ORACIÓN, NO DEJAREMOS DE CLAMAR DÍA CON DÍA HASTA QUE VEAMOS COMO SOBRE MÉXICO VENDRÁN RESPUESTAS PROVOCADAS POR EL CIELO.</p>
    <hr>
    <h5>DEUTERONOMIO 26:8</h5>
  </div>

</div>

</div>

  </div>
</div>
