<app-header></app-header>


<div class="row">
  <div class="col-md-4" >

    <div class=" carta">
      <div class="card border-success mb-3" style="max-width: 18rem;">
      <div class="card-header bg-transparent border-success">Nos Reunimos Los Domingos</div>
      <div class="card-body ">
      <h5 class="card-title">a las 11:00 am en la Condesa</h5>
      <p class="card-text"> Nefrentemos la necesidad que tenemos de Dios, de convivir con gente que cree en lo mismo que nosotros   y a aprender cosas nuevas de parte de Dios para nuestro diario vivir. Por ello nos reunimos habitualmente los Domingos a las 11:00 am.</p>
        <a href="/" style="color:yellow;"> ¡Me gustaría ir este domingo!</a>
      </div>
      <div class="card-footer bg-transparent border-success">

      <div class="row">

        <div class="col">
          <a class="px-3" href="/"><span class="fa fa-map-marker"></span></a>
        </div>

        <div class="col">
          <a class="px-3" href="/"><span class="fa fa-phone"></span></a>
        </div>

        <div class="col">
          <a class="px-3" href="/"><span class="fa fa-envelope"></span></a>
        </div>



      </div>

      </div>
      </div>
    </div>

  </div>
  <div class="col-md-8 even">

    <h2> Pero lo que más disfrutamos es <strong style="color:blue;">servir</strong></h2>
    <p>asi mostramos el amor de Dios de manera practica</p>


<div class="row">
<div class="col-md-6">

  <div class="row">
    <div class="col-md-6 circulos">
    <img src="/assets/logo.png" width="80" height="80" alt="..." class="rounded-circle">
    <p>Servicio Social</p>
    </div>
    <div class="col-md-6 circulos">
    <img src="/assets/logo.png" width="80" height="80" alt="..." class="rounded-circle">
    <p>Actividades culturales</p>
    </div>

  </div>

</div>
<div class="col-md-6 parrafos" style="padding-right: 40px; padding-left: 40px;">
  

<p>Servimos porque amamos</p>

<p >Lorem ipsum dolor sit amet, consectetur adipisicing elit,<strong> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</strong> aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Primary link</a>

</div>


</div>

    </div>
</div>

<br>
<br>
<br>
<br>
<br>
